@use '../../scss/placeholders';
@use '../../scss/variables';

.note-item {
  @extend .transition;
  @extend .column-20;

  position: relative;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  font-size: variables.$font-size-m;
  background-color: variables.$light-m;

  &__container {
    @extend .column-20;
    max-height: 180px;
    height: 100%;
    cursor: pointer;
  }

  &:hover {
    background-color: variables.$light-s;
  }

  &__delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: variables.$light-xs no-repeat center/contain url('/remove.svg');
    cursor: pointer;
    box-shadow: variables.$shadow;
  }

  &__content {
    flex-shrink: 2;
    overflow: auto;
  }

  &__content mark {
    @extend .mark;
    background-color: transparent;
    color: blue;
  }
}
