@use '../../scss/placeholders';
@use '../../scss/variables';

.textbox {
  @extend .column;
  position: relative;
  z-index: 1;

  &__editor {
    background-color: transparent;
  }

  &__editor,
  &__placeholder {
    @extend .form-field;
    height: 200px;
    font-family: variables.$font;
    resize: none;
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-color: variables.$light-xxs;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: -1;
  }

  &__placeholder mark {
    @extend .mark;
    background-color: variables.$light-l;
  }

  &__editor_error {
    border-color: variables.$error;
  }

  &__error {
    @extend .error-message;
  }
}
