$light-xxs: #ffffff;
$light-xs: #f9fcf8;
$light-s: #dfeede;
$light-m: #ceded6;
$light-l: #d6e6e1;
$dark-s: #0c333c;
$dark-m: #466443;
$error: #de0000;
$container-padding: 40px;
$font: 'Raleway', sans-serif;
$font-size-xl: 4rem;
$font-size-l: 2.6rem;
$font-size-m: 1.8rem;
$font-size-s: 1.6rem;
$shadow: 0 0 2px #616161;
