@use './../../scss/variables';

.notes-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.title {
  font-size: variables.$font-size-l;
}
